@import '../../scss/abstracts/variables';

.carousel {
	margin-top: 4vh;
	&__caption {
		background-color: rgba(255, 255, 255, 0.7);
		padding: 1vh 3vw;
		&--el {
			color: $fourth-color;
			font-weight: bold;
		}
	}
}
